
            <div class="publications">
                <h2>patents</h2>
                <ul>
                    <li><b>Mapping RAW images between different camera sensors under arbitrary illuminants.</b> Abdelrahman Abdelhamed, Michael Scott Brown, Abhijith Punnappurath, Hoang Minh Le, Lucy Zhao. US Application, 2023. (Samsung) (submitted)</li>
                    <li><b>Recovering gamut color loss utilizing lightweight neural networks.</b> Hoang M. Le, Michael S. Brown, Brian Price, Scott Cohen. US Application, 2022. (Adobe) (submitted)</li>
                </ul>
            </div>
